@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,900);

body {
    font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    font-size: 14px !important;
    line-height: 1.42857;
}

body#Body {
    padding: 0px;  
}

#Form {
    margin: 0;
}

a, a:visited, a:link, a:active {
    outline: none;
    text-decoration: underline; 
}

h1 {
    font-size: 24px;
    color: #333;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h2.title {
    font-size: 24px;
}

ul li li {
    list-style-type: none;
}

p {
    font-size: 14px;
    color: #666666;
    margin: 0 0 10px;
    font-family: 'Roboto', sans-serif;
}

td {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding: 5px;
}

nav.navbar#slk-header {
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    margin-bottom: 0;    
}

#slk-logo {
    margin-right: 0;
}

.slk-modactions{
    display: none;
}

.slk-page-demo {
    margin-bottom: 0;    
}

.slk-modactions{
    display: none;
}

.slk-fixed-nav-dummy-logo {
    display: none;    
}

nav.navbar.navbar-fixed-top.slk-nav #menu-nav {
    background-color: #16385d;
    margin-top: 0;
    height: auto;
}

nav.navbar.navbar-fixed-top {
    padding-right: 0;
}

.navbar-right .reglogin {
    padding-right: 15px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #16385d;
    color: #fff !important;
}

.navbar-default .navbar-nav > li > a {
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    color: #2466b0;
    font-weight: 500;
    margin-left: -1px;
}

nav li a {
    color: #2466b0;
}

.navbar-nav > li > a {
    line-height: 25px;
	text-decoration: none;
}

.dropup, .dropdown a {
    border: 0 none !important;
    color: #fff !important;
    position: relative;
	text-decoration: none;
}

.dropdown-menu > li > a {
    color: #333 !important;
	text-decoration: none;
}

.dropdown .dropdown-menu {
    min-width: 160px !important;
    border-radius: 4px;
    border-width: 0;
    background-color: #fff;
    list-style: none;
}

.nav .dropdown-menu > li > a:hover {
    color: #000 !important;
    font-family: 'Roboto', sans-serif;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret, 
.dropdown .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin-top: 0;
    color: #fff;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #88b6e8 !important;
    background-color: transparent;
}

.navbar .nav li.dropdown > a:hover .caret, 
.navbar .nav li.dropdown>a:focus .caret,
.navbar .nav li.dropdown.open>.dropdown-toggle .caret {
    text-decoration: none;
    color: #88b6e8;
    background-color: transparent;
    border-top-color: #88b6e8;
    border-bottom-color: #88b6e8;
}

.banner-blue-content-wrapper {
    background-color: rgba(22,56,93,0.95);
    color: #fff;
    font-size: 16px;
    padding: 30px;
    max-width: 400px;
    position: relative;
    top: 161px;
    float: right !important;
    right: 0px;
}

.banner-content-wrapper {
    background-color: none;
    color: #fff;
    font-size: 16px;
    padding: 30px;
    max-width: 400px;
    position: relative;
    top: 161px;
    float: right !important;
    right: 0px;
}

.banner-blue-content-wrapper h2, .banner-content-wrapper h2 {
    font-size: 18px;
    padding-bottom: 20px;
    margin: 0;
    color: #fff;
    text-shadow: none;
    font-weight: 400;
}

.banner-blue-content-wrapper p, .banner-content-wrapper p{
    color: #fff;
}

.sid-banner
{
    height: 540px;
    overflow: hidden;
    margin-top: 130px;
}

.section-spacing {
    padding: 50px 0;
}

.box-img-space img {
    margin-top: 40px;
}

img {
    vertical-align: middle;
}

.section-spacing h1 {
    font-size: 24px;
    color: #333;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.gray-background-top {
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    padding-top: 30px;
}

.gray-background-bottom {
    background-color: #f9f9f9;
    padding-bottom: 30px;
}

.new-to-site, .industry-news {
    font-size: 14px;
}

.new-to-site h1, .industry-news h1 {
    font-size: 21px;
    font-weight: 500;
    margin: 0;
    padding: 30px 0;
}

.new-to-site-content, .industry-news-content {
    width: 95%;
}

.new-to-site-content h2, .industry-news-content h2 {
    font-size: 14px;
    margin: 0;
    padding-bottom: 10px;
}

.new-to-site img, .industry-news img {
    float: left;
    padding-right: 20px;
}

.news-content-wrapper {
    margin-left: -15px;
    margin-right: -15px;    
}

.bottom-space {
    margin-bottom: 30px;
    clear: both;
}

.lg-banner {
    height: 540px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-position: center center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.id-about-banner {
	height: 95px;
    margin-top: 130px;
    overflow-x: hidden;
    overflow-y: hidden;
	background-repeat: no-repeat;
    padding-right: 0px;
    padding-left: 0px;
}

.id-breadcrumb {
	text-align: center;
    padding-top: 20px;
}

.id-breadcrumb p {
    font-weight: 700;
    color: #fff;
}

.id-breadcrumb h1 {
    margin: 0;
    font-weight: 700;
    color: #fff;
}

.ui-tabs-panel h3 {
    margin: 0;
    padding: 40px 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.ui-slider-left-arrow {
    left: 0;
    top: 0;
    box-shadow: 2px 0px 1px rgba(0,0,0,.06);
}

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

#colorbox {
    top: 35% !important;
    position: fixed !important;
}

.separator {
    background: rgba(0, 0, 0, 0) url("http://www.displayweek.org/Portals/sid/SID_Images/lines.png") repeat scroll 0 0;
    content: " ";
    display: block;
    height: 8px;
    margin-top: 40px;
    width: 100%;
}

.publications-holder {
    padding: 60px 0;
}

.publications-holder img {
	width: 150px;
}

.publications {
    margin-left: -15px;  
}

.publications a {
    color: #fff;
    background-color: #2466b0;
    border-radius: 4px;
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin: 15px 0;
    display: inline-block;
}

.subsribe-content {
    background-color: #3bbdca;
    padding: 50px 0 !important;
}

.subsribe-content h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 20px;
}

.field-form {
    height: 60px;
    margin: 0 auto;
}

textarea:focus, input:focus {
    outline: none;
}

.subsribe-content .button {
    color: #fff;
    background-color: #333;
    height: 60px;
    border-radius: 4px;
    border: 0;
    padding: 0 30px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.footer-content {
    background-color: #1a1a1a;
}

.footer-content-top {
   padding-top: 50px; 
}

.footer-content-bottom {
   padding-bottom: 50px; 
}

.footer-content h1 {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.footer-content ul {
    padding: 0;
    margin: 0;
}

.footer-content li {
    list-style: none;
    display: block;
}

.footer-content li a {
    color: #999;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.42857143;
}

.footer-content li a:hover {
    color: #fff;
}

.social li {
    display: inline;
    padding-right: 10px;
    font-size: 14px;
}

hr {
    border: 0;
    border-top: 1px solid #343434;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block !important;
}

/*.livetabsdefault .mtop ul{
    background: url('/images/loading.gif') no-repeat;
}

.livetabsdefault .mtop  ul li{
    visibility: hidden;
}

.ModLiveTabsC .livetabsdefault ul.ui-tabs-nav{
    background: none;
}

.ModLiveTabsC .livetabsdefault ul.ui-tabs-nav li{
    visibility: visible;
}*/

.simply-scroll {
   width: 100%;
   height: auto;
}

.simply-scroll .simply-scroll-list li {
    width: auto;
}

.simply-scroll .simply-scroll-clip {
    width: 94%;
    left: 35px;
    height: auto;
}

.simply-scroll-btn {
    width: 35px;
    height: 42px;
    z-index: 100;
}

.simply-scroll-btn-left {
    background-image: url('http://www.displayweek.org/Portals/_default/Skins/SharpLook/templates/header/sharplook_SID/leftArrow.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    position: absolute;
    border: 1px solid #cfcfcf;
    left: 0;
    top: 0;
    box-shadow: 2px 0px 1px rgba(0,0,0,.06);
}

.simply-scroll-btn-left:hover, .simply-scroll-btn-left.disabled  {
    background-position: center center !important;
}

.simply-scroll-btn-right {
    background-image: url('http://www.displayweek.org/Portals/_default/Skins/SharpLook/templates/header/sharplook_SID/rightArrow.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    position: absolute;
    border: 1px solid #cfcfcf;
    top: 0;
    right: 0;
    box-shadow: -2px 0px 1px rgba(0,0,0,.06);
}

.simply-scroll-btn-right:hover, .simply-scroll-btn-right.disabled {
    background-position: center center !important;
}

.simply-scroll-btn-left.disabled, .simply-scroll-btn-right.disabled {
    opacity: .25;
}

.ui-tabs-panel li, .ui-tabs-panel td, .ui-tabs-panel {
	font-size: 14px;
	color: #666666;
	font-family: 'Roboto', sans-serif;
}

.page-content, .page-content li, .updated{
	font-size: 14px;
	color: #666666;
	font-family: 'Roboto', sans-serif;
}

.page-content h3, .page-content h2 {
    	margin: 0;
    	padding: 20px 0 30px;
    	font-weight: 400;
    	font-family: 'Roboto', sans-serif;
	font-size: 26px;
}

.page-content a {
    background: none;
    margin: 0px;
    padding-left: 0px;
    font-size: 14px;
}

.member-login h2 {
	font-size: 26px;
	margin-bottom: 15px;
        margin-left: 10px;
	padding: 10px 0;
	font-weight: 400;
}

.dnnCheckbox .mark {
	background-color: transparent;
}

.DynamicForms_SaveFormDiv p {
	font-weight: normal;
    	padding-top: 10px;
}

.tbl-publication {
	border-collapse: separate;
	border-spacing: 2px;
}

.map_div {
    position: relative;
}

.map_div a.map_dot {
    position: absolute;
    width: 20px;
    height: 19px;
    background: url(http://www.displayweek.org/portals/_default/skins/sid/images/dot.png) no-repeat;
    top: 0px;
    left: 0px;
    display: block;
    cursor: pointer;
}

.map_div a {
    text-decoration: none;
}

.right-content h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.right-content ul{
    list-style-image: url(http://www.displayweek.org/portals/_default/skins/sid/images/home_left_box_bluebullet.png);
    padding-left: 10px;
}

.right-content ul li {
    padding: 5px;
    padding-left: 0px;
}

.right-content ul li a {
    background: none;
    padding-left: 0px;
}

.read_more {
    color: #0079c2;
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 15px;
    background: url(http://www.displayweek.org/portals/_default/skins/sid/images/read_more_ico.png) no-repeat 0px 2px;
    margin: 10px 0px 0px 0px;
}

@media (max-width: 1199px) {
   .simply-scroll .simply-scroll-clip {
   	width: 92.5%;
   }
}

@media (max-width: 991px) {
   .simply-scroll .simply-scroll-clip {
    	width: 90%;
   }
}

@media (min-width: 992px) {
   .col-md-5ths {
	width: 20%;
        float: left;
   }
}

@media (max-width: 768px) {
    nav.navbar#slk-header {
        position: relative;
    }

    .navbar-right .reglogin {
    	padding-right: 0px;
    }
	
	.id-about-banner {
        margin-top: 0px;
    }
	
    #menu-nav .navbar-nav {
        margin: 7.5px 0px;
    }
	
	.navbar-nav > li > a {
        line-height: 20px;
        padding: 10px 15px;
    }
    
    .open .dropdown-menu > li > a {
        color: #fff !important;
    }
    
    .nav .open .dropdown-menu > li > a:hover {
        color: #88b6e8 !important;
    }
	
	.publications {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .pinned nav.navbar#slk-header {
        padding-top: 0;
		position: relative;
    }
	
    .pinned div.sid-banner {
        margin-top: 0;
    }
	
    .pinned div.id-about-banner {
        margin-top: 0;
    }
	.slk-mode-edit .id-about-banner {
		height: auto;
	}
	
	.navbar-nav > li > a {
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	
	.hidden-lg {
        	display: none!important;
    }
    
    .visible-lg-inline-block {
		display: inline-block!important;
    }
}

@media (max-width: 695px) {
	.field-form {
		width:100%; 
	}

	.subsribe-content {
        padding: 30px 0px;
	}

	.subsribe-content .button {
		font-size: 16px;
	}
	
	.simply-scroll .simply-scroll-clip {
    		width: 89%;
    	}
}

@media (max-width: 649px) {
	.simply-scroll .simply-scroll-clip {
    		width: 88%;
    	}
}

@media (max-width: 620px) {
	.simply-scroll .simply-scroll-clip {
    		width: 87%;
    	}
}


@media (max-width: 511px) {
	.simply-scroll .simply-scroll-clip {
    		width: 84%;
    	}
}

@media (max-width: 485px) {
	.subsribe-content .button {
		font-size: 15px;
	}
}

@media (max-width: 480px) {
	.simply-scroll-btn-left, .simply-scroll-btn-right {
		visibility: hidden;
 	}
        .simply-scroll .simply-scroll-clip {
    		width: 100%;
    		left: 0px;
	}
}

@media (max-width: 443px) {
	.subsribe-content .button {
		font-size: 14px;
	}
}

@media (max-width: 405px) {
	.subsribe-content .button {
		width: 100%;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
}

@media  only screen and (max-device-width: 768px) {
	nav.navbar#slk-header {
        position: relative;
    }
	
	.sid-banner {
        margin-top: 0px;
    }
	
	.id-about-banner {
        margin-top: 0px;
    }
	
    #menu-nav .navbar-nav {
        margin: 7.5px 0px;
    }
	
    .navbar-nav > li > a {
        line-height: 20px;
        padding: 10px 15px;
    }
	
    .navbar-right .reglogin {
        padding-right: 0px;
    }
    
    .open .dropdown-menu > li > a {
        color: #fff !important;
    }
    
    .nav .open .dropdown-menu > li > a:hover {
        color: #88b6e8 !important;
    }
	
	.nav > li > a {
        font-size: 12px
    }
	
	.navbar-brand > img {
        width: 160px;
	}

	.navbar-brand {
        padding: 20px 15px;
	}

	.dropdown-menu {
        font-size: 12px
	}
	
	h1 {
        font-size: 18px;
    }

	.new-to-site-content, .industry-news-content {
		width: 100%
	}

	.section-spacing {
		text-align: center;
		padding: 0 20%;
		padding-bottom: 40px
	}

	.section-spacing h1 {
		padding-bottom: 20px
	}

	.banner-content-wrapper {
		background-color:rgba(0,0,0,0.8);
		max-width: 70%;
		float: none;
		text-align: center;
		margin: 0 auto;
	}

	.banner-blue-content-wrapper {
		background-color:rgba(22,56,93,0.95);
		max-width: 70%;
		float: none;
		text-align: center;
		margin: 0 auto;
	}	
	
	.publications {
        margin-left: 0;
    }   
	
	.subsribe-content h1 {
		text-align: center;
		font-size: 20px;
		font-weight: 400;
		color: #fff;
		padding-bottom: 20px
    }	
}

@media only screen and (min-device-width : 360px) and (max-device-width : 667px) and (orientation : portrait) { 
    .sid-banner {
	    margin-top:50px;
	}

	.navbar-brand > img {
        width: 100%;
	}

	.navbar-brand {
        padding: 7px 15px;
	}

	.navbar-default {
        border-color: #ccc;
	}

	.navbar-right .reglogin {
		padding-right: 0px
	}

	.navbar-nav {
        margin: 0 -15px;
	}

	.field-form {
		width:100%; 
		height:40px; 
		margin: 0 auto; 
		border-radius: 4px
	}

	.subsribe-content {
        padding: 30px 0px;
	}

	.subsribe-content h1 {
        font-size: 18px;
        margin: 0
	}

	.subsribe-content .button {
		width: 100%;
		height: 40px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		border: 0;
		float: right;
		font-size: 14px
	}

	.box-img-space img {
        width: 100%;
	}

	h1 {
        font-size: 18px;
	}

	.new-to-site h1 {
        font-size: 18px;
	}

	.gray-background {
        padding: 10px 0px;
	}

	.footer-content-top {
       padding-top: 20px 0px; 
    }

    .footer-content-bottom {
       padding-bottom: 20px 0px; 
    }
	
	.publications-holder {
        padding: 30px 0px;
	}

	.publications a {
        padding: 10px 40px;
	}

	.section-spacing {
        padding: 30px 0px;
	}
}

@media only screen and (min-device-width : 360px) and (max-device-width : 667px) and (orientation : landscape) { 
   .navbar-nav {
        margin: 0 -15px;
	}

    .navbar-brand > img {
        width: 100%;
	}

	.navbar-brand {
        padding: 7px 15px;
	}

	.navbar-default {
        border-color: #ccc;
	}

	.sid-banner {
        margin-top: 50px;
	}
	
	.publications-holder img {
		display: block;
		margin: 0 auto
	}
}

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) { 
    .sid-banner {
	    margin-top:50px;
	}
    
    .navbar-brand > img {
        width: 100%;
	}

	.navbar-brand {
        padding: 7px 15px;
	}

	.navbar-default {
        border-color: #ccc;
	}

	.navbar-right .reglogin {
		padding-right: 0px
	}

	.navbar-nav {
        margin: 0 -15px;
	}

	.field-form {
		width:100%; 
		height:40px; 
		margin: 0 auto; 
		border-radius: 4px
	}

	.subsribe-content {
        padding: 30px 0px;
	}

	.subsribe-content h1 {
        font-size: 18px;
        margin: 0
	}

	.subsribe-content .button {
		width: 100%;
		height: 40px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		border: 0;
		float: right;
		font-size: 14px
	}

	.box-img-space img {
        width: 100%;
	}

	h1 {
        font-size: 18px;
	}

	.new-to-site h1 {
        font-size: 18px;
	}

	.gray-background {
        padding: 10px 0px;
	}
	
	.footer-content-top {
       padding-top: 20px 0px; 
    }

    .footer-content-bottom {
       padding-bottom: 20px 0px; 
    }

	.publications-holder {
        padding: 30px 0px;
	}

	.publications a {
        padding: 10px 40px;
	}

	.section-spacing {
        padding: 30px 0px;
	}
}

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) { 
    .navbar-nav {
        margin: 0 -15px;
	}

    .navbar-brand > img {
        width: 100%;
	}

	.navbar-brand {
        padding: 7px 15px;
	}

	.navbar-default {
        border-color: #ccc;
	}

	.sid-banner {
        margin-top: 50px;
	}
    
    .publications-holder img {
		display: block;
		margin: 0 auto
	}
}